<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ modo === 'crear' ? 'Añadir Suero' : 'Editar Suero' }}</h3>
    <form [formGroup]="sueroForm">
      <div class="mb-3">
        <label for="nombre" class="form-label required-field">Nombre de Suero</label>
        <input 
          id="nombre" 
          class="form-control" 
          formControlName="nombre"
          [ngClass]="{'is-invalid': isFieldInvalid('nombre')}"
        />
        <div class="validation-error" *ngIf="isFieldInvalid('nombre')">
          {{ getErrorMessage('nombre') }}
        </div>
      </div>

      <div class="mb-3">
        <label for="lote" class="form-label required-field">Lote</label>
        <input 
          id="lote" 
          class="form-control" 
          formControlName="lote"
          [ngClass]="{'is-invalid': isFieldInvalid('lote')}"
        />
        <div class="validation-error" *ngIf="isFieldInvalid('lote')">
          {{ getErrorMessage('lote') }}
        </div>
      </div>

      <div class="mb-3">
        <label for="frascosDisponibles" class="form-label required-field">Frascos Disponibles</label>
        <input 
          id="frascosDisponibles" 
          type="number" 
          class="form-control" 
          formControlName="frascosDisponibles"
          [ngClass]="{'is-invalid': isFieldInvalid('frascosDisponibles')}"
        />
        <div class="validation-error" *ngIf="isFieldInvalid('frascosDisponibles')">
          {{ getErrorMessage('frascosDisponibles') }}
        </div>
      </div>

      <div class="buttoms">
        <button 
          type="submit" 
          class="btn btn-custom" 
          [disabled]="!sueroForm.valid"
          (click)="guardar()">
          {{ modo === 'crear' ? 'Añadir' : 'Guardar' }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>

      <div class="form-status" 
           *ngIf="formMessage" 
           [ngClass]="{'success': formStatus === 'success', 'error': formStatus === 'error'}">
        {{ formMessage }}
      </div>
    </form>
  </div>
</div>