.vh-100 {
    background: rgba(82, 194, 52, 0.9);
    background: -webkit-linear-gradient(to right, rgba(6, 23, 0, 0.9), rgba(82, 194, 52, 0.9));
    background: linear-gradient(to right, rgba(6, 23, 0, 0.9), rgba(82, 194, 52, 0.9));
}

.btn-custom {
    background-color: #52c234;
    border-color: #52c234;
    color: white;
  }
  
  .btn-custom:hover {
    background-color: #45a827;
    border-color: #45a827;
  }