/* Aplica el fondo al cuerpo de la página completa */
:host {
    display: block;
    min-height: 100vh; /* Asegura que cubra toda la altura de la ventana */
    background: rgba(82, 194, 52, 0.9);
    background: -webkit-linear-gradient(to right, rgba(6, 23, 0, 0.9), rgba(82, 194, 52, 0.9));
    background: linear-gradient(to right, rgba(6, 23, 0, 0.9), rgba(82, 194, 52, 0.9));
    font-family: 'Poppins', sans-serif;
  }
  
  /* Para mantener el estilo del contenedor principal */
  .main-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .column-left,
  .column-right {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre tarjetas */
  }
  
  .column-left {
    width: 40%; /* Tamaño para la columna izquierda */
  }
  
  .column-right {
    width: 55%; /* Tamaño para la columna derecha */
  }
  
  .card {
    background-color: white;
    border: 2px solid #FFF5E9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .small-card {
    width: 100%; /* Tarjetas pequeñas ocupan toda la columna */
  }
  
  .large-card {
    width: 100%; /* Tarjeta grande ocupa toda la columna derecha */
  }
  
  .welcome-message {
    margin-bottom: 10px;
    color: white;
  }
  
  .card h4 {
    margin-bottom: 10px;
    color: black;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card ul li {
    margin: 5px 0;
  }
  