<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/enfermera', userId, 'home']">
      <img src="assets/Logo.png" alt="Vacunacion logo" width="70">
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu('mainMenu')" aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isActiveMenu('mainMenu')}" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/enfermera', userId, 'home']" routerLinkActive="active">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/enfermera', userId, 'gestionPaciente']" routerLinkActive="active">Gestionar Pacientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/enfermera', userId, 'registro-vacuna']" routerLinkActive="active">Registro Vacunas</a>
        </li>
      </ul>

      <button class="btn-logout" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
    </div>
  </div>
</nav>
