.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #bdbdbd;
  padding: 10px;
  text-align: center;
}


.btn-custom {
  background-color: #52c234;
  border-color: #52c234;
  color: white;
}

.btn-custom:hover {
  background-color: #45a827;
  border-color: #45a827;
}

.btn-custom-blue {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
}

.btn-custom-blue:hover {
  background-color: #1976d2;
  border-color: #1976d2;
}

.add-button {
  float: inline-end;
  background-color: #52c234;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a827;
}