<app-navbar-admin></app-navbar-admin>
<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="header">
          <h2>Gestión Inventario Diluyente</h2>
        </div>
    
        <button class="add-button mb-4 " (click)="addItem()"><i class="fa-solid fa-plus"></i> Añadir</button>
    
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre de Diluyente</th>
              <th>Lote</th>
              <th>Disponibilidad de Diluyente</th>
              <th>Observacion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>PFIZER (Diluyente)</td>
              <td>xxx-2024-18</td>
              <td>18</td>
              <td>xxxxxxxx</td>
              <td style="text-align: center;">
                <button class="btn btn-custom" style="margin-right: 5px;" (click)="editItem(1)"><i class="fa-solid fa-pen-to-square"></i> Editar</button>
                <button class="btn btn-custom"  (click)="deleteItem(1)"><i class="fa-solid fa-trash"></i> Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>