<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div><img src="assets/Logo.png" alt="Vacunacion logo" width="150"></div>

            <h3 class="mb-5">Inicio de Sesión</h3>

            <!-- Formulario Reactivo -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div class="form-outline mb-4">
                <input 
                  type="text" 
                  id="username" 
                  class="form-control form-control-lg" 
                  placeholder="Nombre de Usuario"
                  formControlName="username"
                />
                <small *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
                  Este campo es obligatorio
                </small>
              </div>

              <div class="form-outline mb-4">
                <input 
                  type="password" 
                  id="password" 
                  class="form-control form-control-lg" 
                  placeholder="Contraseña"
                  formControlName="password"
                />
                <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                  Este campo es obligatorio
                </small>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input 
                  class="form-check-input" 
                  type="checkbox" 
                  id="form1Example3" 
                  style="margin-right: 10px;"
                />
                <label class="form-check-label" for="form1Example3"> Recuerda tu contraseña </label>
              </div>

              <p class="small mb-3 pb-lg-2"><a class="text-black-50" href="#!">¿Se olvidó su contraseña?</a></p>

              <!-- Botón Bloqueado si el Formulario es Inválido -->
              <button 
                class="btn btn-lg px-5 btn-custom" 
                type="submit" 
                [disabled]="loginForm.invalid"
              >
                Inicia Sesión
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>