<div class="container mt-4">
  <h3>{{ modo === 'crear' ? 'Nuevo Cuidador' : 'Editar Cuidador' }}</h3>
  <form [formGroup]="cuidadorForm" (ngSubmit)="guardar()">
    <div class="row g-3">
      <div class="mb-3 col-md-6">
        <label for="tipoIdentificacion" class="form-label">Tipo de Identificación*</label>
        <select class="form-control" id="tipoIdentificacion" formControlName="tipoIdentificacion">
          <option value="">Seleccione...</option>
          <option value="CC">Cédula de Ciudadanía</option>
          <option value="CE">Cédula de Extranjería</option>
          <option value="PA">Pasaporte</option>
        </select>
        <div class="validation-error" *ngIf="isFieldInvalid('tipoIdentificacion')">
          {{ getErrorMessage('tipoIdentificacion') }}
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="numeroIdentificacion" class="form-label">Número de Identificación*</label>
        <input type="text" class="form-control" id="numeroIdentificacion" formControlName="numeroIdentificacion">
        <div class="validation-error" *ngIf="isFieldInvalid('numeroIdentificacion')">
          {{ getErrorMessage('numeroIdentificacion') }}
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="primerNombre" class="form-label">Primer Nombre*</label>
        <input type="text" class="form-control" id="primerNombre" formControlName="primerNombre">
        <div class="validation-error" *ngIf="isFieldInvalid('primerNombre')">
          {{ getErrorMessage('primerNombre') }}
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="segundoNombre" class="form-label">Segundo Nombre</label>
        <input type="text" class="form-control" id="segundoNombre" formControlName="segundoNombre">
        <div class="validation-error" *ngIf="isFieldInvalid('segundoNombre')">
          {{ getErrorMessage('segundoNombre') }}
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="primerApellido" class="form-label">Primer Apellido*</label>
        <input type="text" class="form-control" id="primerApellido" formControlName="primerApellido">
        <div class="validation-error" *ngIf="isFieldInvalid('primerApellido')">
          {{ getErrorMessage('primerApellido') }}
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="segundoApellido" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" id="segundoApellido" formControlName="segundoApellido">
        <div class="validation-error" *ngIf="isFieldInvalid('segundoApellido')">
          {{ getErrorMessage('segundoApellido') }}
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="parentesco" class="form-label">Parentesco*</label>
        <input type="text" class="form-control" id="parentesco" formControlName="parentesco">
        <div class="validation-error" *ngIf="isFieldInvalid('parentesco')">
          {{ getErrorMessage('parentesco') }}
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="correoElectronico" class="form-label">Correo Electrónico*</label>
        <input type="email" class="form-control" id="correoElectronico" formControlName="correoElectronico">
        <div class="validation-error" *ngIf="isFieldInvalid('correoElectronico')">
          {{ getErrorMessage('correoElectronico') }}
        </div>
      </div>
    </div>


    <div class="text-center mt-4">
      <button type="submit" class="btn btn-custom" style="margin-right: 5px;">
        Guardar
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>