@import '../../../../styles/common.css';

 .btn-custom {
   background-color: #52c234;
   border-color: #52c234;
   color: white;
 }

 .btn-custom:hover {
   background-color: #45a827;
   border-color: #45a827;
 }

 .btn-custompass {
   background-color: #52c234;
   border-color: #52c234;
   color: white;

 }

 .btn-custompass:hover {
   background-color: #45a827;
   border-color: #45a827;
 }

 .add-button {
   float: inline-end;
   background-color: #52c234;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 .add-button:hover {
   background-color: #45a827;
 }

 .custom-green-hr {
   border-top: 2px solid #28a745;
 }
 

 .validation-error {
   color: #dc3545; 
   font-size: 0.875rem;
   margin-top: 0.25rem;
 }

 .is-invalid {
   border-color: #dc3545 !important;
   box-shadow: 0 0 0 0.2rem rgba(220,53,69,0.1);
 }



