<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ modo === 'crear' ? 'Añadir Paciente' : 'Editar Paciente' }}</h3>

    <!-- Sección 1: Información Personal -->
    <div *ngIf="step === 1">
      <h4 class="mb-2">Información Personal</h4>
      <hr class="mt-0 mb-3 custom-green-hr">

      <form [formGroup]="pacienteForm">
        <div class="row g-3">
          <div class="mb-3 col-md-6">
            <label for="TipoId" class="form-label">Tipo de identificación*</label>
            <select id="TipoId" class="form-control" formControlName="tipoIdentificacion" required
              [ngClass]="{'is-invalid': isFieldInvalid('tipoIdentificacion')}">
              <option value="" disabled>Selecciona el tipo de identificación</option>
              <option value="RC">RC - Registro Civil</option>
              <option value="TI">TI - Tarjeta de Identidad</option>
              <option value="CC">CC - Cédula de Ciudadania</option>
              <option value="CE">CE - Cédula Extranjera</option>
              <option value="PA">PA - Pasaporte</option>
            </select>
            <div class="validation-error" *ngIf="isFieldInvalid('tipoIdentificacion')">
              {{ getErrorMessage('tipoIdentificacion') }}
            </div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="numeroIdentificacion" class="form-label">Número de Identificación*</label>
            <input id="numeroIdentificacion" type="number" class="form-control" formControlName="numeroIdentificacion"
              required [ngClass]="{'is-invalid': isFieldInvalid('numeroIdentificacion')}" />
            <div class="validation-error" *ngIf="isFieldInvalid('numeroIdentificacion')">
              {{ getErrorMessage('numeroIdentificacion') }}
            </div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="primerNombre" class="form-label">Primer Nombre*</label>
            <input id="primerNombre" class="form-control" formControlName="primerNombre" required
              [ngClass]="{'is-invalid': isFieldInvalid('primerNombre')}" />
            <div class="validation-error" *ngIf="isFieldInvalid('primerNombre')">
              {{ getErrorMessage('primerNombre') }}
            </div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="segundoNombre" class="form-label">Segundo Nombre</label>
            <input id="segundoNombre" class="form-control" formControlName="segundoNombre" />
          </div>
          <div class="mb-3 col-md-6">
            <label for="primerApellido" class="form-label">Primer Apellido*</label>
            <input id="primerApellido" class="form-control" formControlName="primerApellido" required
              [ngClass]="{'is-invalid': isFieldInvalid('primerApellido')}" />
            <div class="validation-error" *ngIf="isFieldInvalid('primerApellido')">
              {{ getErrorMessage('primerApellido') }}
            </div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="segundoApellido" class="form-label">Segundo Apellido*</label>
            <input id="segundoApellido" class="form-control" formControlName="segundoApellido" required
              [ngClass]="{'is-invalid': isFieldInvalid('segundoApellido')}" />
            <div class="validation-error" *ngIf="isFieldInvalid('segundoApellido')">
              {{ getErrorMessage('segundoApellido') }}
            </div>
          </div>
          <div class="mb-3 col-md-4">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento*</label>
            <input id="fechaNacimiento" type="date" class="form-control" formControlName="fechaNacimiento" required
            [ngClass]="{'is-invalid': isFieldInvalid('fechaNacimiento')}" />
            <div class="validation-error" *ngIf="isFieldInvalid('fechaNacimiento')">
              {{ getErrorMessage('fechaNacimiento') }}
              </div>
          </div>
          <div class="mb-3 col-md-4">
            <label for="paisNacimiento" class="form-label">País de Nacimiento</label>
            <input id="paisNacimiento" class="form-control" formControlName="paisNacimiento" />
          </div>
          <div class="mb-3 col-md-4">
            <label for="estatusMigratorio" class="form-label">Estatus Migratorio*</label>
            <select id="estatusMigratorio" class="form-control" formControlName="estatusMigratorio" required>
              <option value="" disabled>Selecciona el estado</option>
              <option value="NO APLICA">No Aplica</option>
              <option value="RESIDENTE">Residente</option>
              <option value="LEGAL">Legal</option>
            </select>
          </div>
          <div class="form-outline mb-3 col-md-4">
            <label for="sexo" class="form-label">Sexo*</label>
            <select id="sexo" class="form-control " formControlName="sexo" required>
              <option value="" disabled>Selecciona el sexo</option>
              <option value="HOMBRE">Hombre</option>
              <option value="MUJER">Mujer</option>
            </select>
          </div>
          <div class="form-outline mb-3 col-md-4">
            <label for="orientacionSexual" class="form-label">Orientación Sexual*</label>
            <select id="orientacionSexual" class="form-control " formControlName="orientacionSexual"
              required>
              <option value="" disabled>Selecciona la orientación sexual</option>
              <option value="HETEROSEXUAL">Heterosexual</option>
              <option value="HOMOSEXUAL">Homosexual</option>
              <option value="OTRO">Otro</option>
            </select>
          </div>
          <h4 class="mb-2">Información de Contacto</h4>
          <hr class="mt-0 mb-3 custom-green-hr">
          <div class="mb-3 col-md-4">
            <label for="paisResidencia" class="form-label">País de Residencia*</label>
            <input id="paisResidencia" class="form-control" formControlName="paisResidencia" required />
          </div>
          <div class="mb-3 col-md-4">
            <label for="departamentoResidencia" class="form-label">Departamento de Residencia*</label>
            <input id="departamentoResidencia" class="form-control" formControlName="departamentoResidencia" required />
          </div>
          <div class="mb-3 col-md-4">
            <label for="municipioResidencia" class="form-label">Municipio de Residencia*</label>
            <input id="municipioResidencia" class="form-control" formControlName="municipioResidencia" required />
          </div>
          <div class="mb-3 col-md-2">
            <label for="comunaLocalidad" class="form-label">Comuna</label>
            <input id="comunaLocalidad" class="form-control" formControlName="comunaLocalidad" />
          </div>
          <div class="mb-3 col-md-6">
            <label for="direccion" class="form-label">Dirección*</label>
            <input id="direccion" class="form-control" formControlName="direccion" required />
          </div>
          <div class="form-outline mb-3 col-md-4">
            <label for="area" class="form-label">Área*</label>
            <select id="area" class="form-control" formControlName="area" required>
              <option value="" disabled>Selecciona el área</option>
              <option value="URBANA">URBANA</option>
              <option value="RURAL">RURAL</option>
            </select>
          </div>
          <div class="mb-3 col-md-6">
            <label for="email" class="form-label">Correo Electrónico*</label>
            <input id="email" type="email" class="form-control" formControlName="email" />
          </div>
          <div class="mb-3 col-md-6"></div>
          <div class="mb-3 col-md-6">
            <label for="celular" class="form-label">Celular*</label>
            <input id="celular" type="number" class="form-control" formControlName="celular" />
          </div>
          <div class="mb-3 col-md-6">
            <label for="telefonoFijo" class="form-label">Teléfono Fijo*</label>
            <input id="telefonoFijo" type="number" class="form-control" formControlName="telefonoFijo" />
          </div>
          <div class="form-check mb-3">
            <input id="autorizaLlamadas" type="checkbox" class="form-check-input"
              formControlName="autorizaLlamadasTelefonicas" />
            <label for="autorizaLlamadas" class="form-check-label">Autoriza llamadas</label>
          </div>
          <div class="form-check mb-3">
            <input id="autorizaEnvioCorreo" type="checkbox" class="form-check-input"
              formControlName="autorizaEnvioCorreo" />
            <label for="autorizaEnvioCorreo" class="form-check-label">Autoriza Envio de Correos Electrónicos</label>
          </div>
        </div>
      </form>
    </div>

    <!-- Sección 2: Información Adicional -->
    <div *ngIf="step === 2">
      <h4 class="mb-2">Información Adicional</h4>
      <hr class="mt-0 mb-3 custom-green-hr">
      <form [formGroup]="pacienteForm">
        <div class="row g-3">

          <div class="form-outline mb-3 col-md-6">
            <label for="regimenAfiliacion" class="form-label">Regimen de Afiliacion</label>
            <select id="regimenAfiliacion" class="form-control" formControlName="regimenAfiliacion">
              <option value="CONTRIBUTIVO">Régimen Contributivo</option>
              <option value="SUBSIDIADO">Régimen Subsidiado</option>
              <option value="EXCEPCION Y ESPECIAL E INPEC">Régimen de Excepción y especial e INPEC</option>
              <option value="OTRO">otros</option>
            </select>
          </div>
          <div class="mb-3 col-md-6">
            <label for="aseguradora" class="form-label">Aseguradora</label>
            <input id="aseguradora" class="form-control" formControlName="aseguradora" />
          </div>
          <div class="form-outline mb-3 col-md-6">
            <label for="pertenenciaEtnica" class="form-label">Pertenencia Étnica*</label>
            <select id="pertenenciaEtnica" class="form-control " formControlName="pertenenciaEtnica"
              required>
              <option value="" disabled>Selecciona la pertenencia étnica</option>
              <option value="INDIGENA">Indígena</option>
              <option value="AFROCOLOMBIANO">Afrocolombiano</option>
              <option value="RAIZAL">Raizal</option>
              <option value="PALENQUERO">Palenquero</option>
              <option value="NINGUNO DE LOS ANTERIORES">NINGUNO DE LOS ANTERIORES</option>
            </select>
          </div>
          <h4 class="mb-2">Condición Social (Seleccione 1 o más opciones)</h4>
          <hr class="mt-0 mb-3 custom-green-hr">
          <div class="col-md-12">
            <div class="form-check mb-3 ">
              <input id="desplazado" type="checkbox" class="form-check-input" formControlName="desplazado" />
              <label for="desplazado" class="form-check-label">Desplazado</label>
            </div>
            <div class="form-check mb-3 ">
              <input id="discapacitado" type="checkbox" class="form-check-input" formControlName="discapacitado" />
              <label for="discapacitado" class="form-check-label">Discapacitado</label>
            </div>
            <div class="form-check mb-3 ">
              <input id="victimaConflictoArmado" type="checkbox" class="form-check-input"
                formControlName="victimaConflictoArmado" />
              <label for="autorizaEnvioCorreo" class="form-check-label">Victima del Conflicto Armado</label>
            </div>
            <div class="form-check mb-3 ">
              <input id="estudiaActualmente" type="checkbox" class="form-check-input"
                formControlName="estudiaActualmente" />
              <label for="estudiaActualmente" class="form-check-label">Estudia Actualmente</label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Sección 3: Antecedentes -->
    <div *ngIf="step === 3">
      <h4>Antecedentes</h4>
      <hr class="mt-0 mb-3 custom-green-hr">
      <form [formGroup]="pacienteForm">
        <div formArrayName="antecedentes">
          <div *ngFor="let antecedente of antecedentes.controls; let i = index" [formGroupName]="i" class="mb-3">
            <label for="fechaRegistro{{i}}" class="form-label">Fecha Registro</label>
            <input id="fechaRegistro{{i}}" type="date" class="form-control" formControlName="fechaRegistro" required />

            <label for="tipo{{i}}" class="form-label">Tipo</label>
            <input id="tipo{{i}}" class="form-control" formControlName="tipo" required />

            <label for="descripcion{{i}}" class="form-label">Descripción</label>
            <textarea id="descripcion{{i}}" class="form-control" formControlName="descripcion"></textarea>

            <label for="observacionesEspeciales{{i}}" class="form-label">Observaciones Especiales</label>
            <textarea id="observacionesEspeciales{{i}}" class="form-control"
              formControlName="observacionesEspeciales"></textarea>
          </div>
        </div>
      </form>
    </div>

    <!-- Sección 4: Cuidador o Madre -->
    <div *ngIf="step === 4">
      <ng-container *ngIf="mayorDe18; else seleccionarCuidadorMadre">
        <div class="alert alert-info mt-3">
          Esta sección solo está disponible para pacientes menores de edad.
        </div>
      </ng-container>
      <ng-template #seleccionarCuidadorMadre>
        <div *ngIf="!mostrarTablaMadre && !mostrarTablaCuidador">
          <h4>Cuidador o Madre</h4>
          <hr class="mt-0 mb-3 custom-green-hr">
          <div class="mb-3">
            <label for="madreSeleccionada" class="form-label">Madre Seleccionada</label>
            <input id="madreSeleccionada" class="form-control mb-3"
              [value]="madreSeleccionada ? madreSeleccionada.primerNombre + ' ' + (madreSeleccionada.segundoNombre || '') + ' ' + madreSeleccionada.primerApellido + ' ' + (madreSeleccionada.segundoApellido || '') : 'Ninguna seleccionada'"
              readonly />
            <button class="btn btn-custom" (click)="mostrarTablaMadre = true" style="margin-right: 10px;">Seleccionar
              Madre</button>
            <button class="btn btn-custom" *ngIf="madreSeleccionada" (click)="quitarSeleccionMadre()">Quitar Selección
              Madre</button>
          </div>
          <div class="mb-3">
            <label for="cuidadorSeleccionado" class="form-label">Cuidador Seleccionado</label>
            <input id="cuidadorSeleccionado" class="form-control mb-3"
              [value]="cuidadorSeleccionado ? cuidadorSeleccionado.primerNombre + ' ' + (cuidadorSeleccionado.segundoNombre || '') + ' ' + cuidadorSeleccionado.primerApellido + ' ' + (cuidadorSeleccionado.segundoApellido || '') : 'Ninguno seleccionado'"
              readonly />
            <button class="btn btn-custom" (click)="mostrarTablaCuidador = true" style="margin-right: 10px;">Seleccionar
              Cuidador</button>
            <button class="btn btn-custom" *ngIf="cuidadorSeleccionado" (click)="quitarSeleccionCuidador()">Quitar
              Selección Cuidador</button>
          </div>
        </div>

        <div>
          <app-tabla-madre *ngIf="mostrarTablaMadre" [madres]="madres" (onSeleccionarMadre)="seleccionarMadre($event)"
            (onVolver)="volverAlFormulario()">
          </app-tabla-madre>

          <form [formGroup]="pacienteForm">
            <div *ngIf="madreSeleccionada">
              <input type="hidden" formControlName="madreId" [value]="madreSeleccionada.id">
            </div>
          </form>
        </div>

        <div>
          <app-tabla-cuidador *ngIf="mostrarTablaCuidador" [cuidadores]="cuidadores"
            (onSeleccionarCuidador)="seleccionarCuidador($event)" (onVolver)="volverAlFormulario()">
          </app-tabla-cuidador>

          <form [formGroup]="pacienteForm">
            <div *ngIf="cuidadorSeleccionado">
              <input type="hidden" formControlName="cuidadorId" [value]="cuidadorSeleccionado.id">
            </div>
          </form>
        </div>

      </ng-template>
    </div>

    <!-- Sección 5: Información Usuaria -->
    <div *ngIf="step === 5">
      <ng-container *ngIf="pacienteForm.get('sexo')?.value === 'MUJER'; else soloMujeres">
        <h4>Condición Usuaria</h4>
        <hr class="mt-0 mb-3 custom-green-hr">
        <form [formGroup]="pacienteForm">
          <div formGroupName="condicionUsuaria">
            <div class="mb-3">
              <label for="condicion" class="form-label">Condición</label>
              <input id="condicion" class="form-control" formControlName="condicion" required />
            </div>
            <div class="form-check mb-3">
              <input id="gestante" type="checkbox" class="form-check-input" formControlName="gestante" />
              <label for="gestante" class="form-check-label">Gestante</label>
            </div>
            <div class="mb-3">
              <label for="fechaUltimaMenstruacion" class="form-label">Fecha de Última Menstruación</label>
              <input id="fechaUltimaMenstruacion" type="date" class="form-control"
                formControlName="fechaUltimaMenstruacion" />
            </div>
            <div class="mb-3">
              <label for="semanasGestacion" class="form-label">Semanas de Gestación</label>
              <input id="semanasGestacion" type="number" class="form-control" formControlName="semanasGestacion" />
            </div>
            <div class="mb-3">
              <label for="fechaProbableParto" class="form-label">Fecha Probable de Parto</label>
              <input id="fechaProbableParto" type="date" class="form-control" formControlName="fechaProbableParto" />
            </div>
            <div class="mb-3">
              <label for="cantidadEmbarazosPrevios" class="form-label">Cantidad de Embarazos Previos</label>
              <input id="cantidadEmbarazosPrevios" type="number" class="form-control"
                formControlName="cantidadEmbarazosPrevios" />
            </div>
          </div>
        </form>
      </ng-container>
      <ng-template #soloMujeres>
        <div class="alert alert-info mt-3">
          Esta sección solo está disponible para pacientes de sexo femenino.
        </div>
      </ng-template>
    </div>

    <!-- Sección 6: Antecedentes Médicos -->
    <div *ngIf="step === 6">
      <h4>Antecedentes Médicos</h4>
      <hr class="mt-0 mb-3 custom-green-hr">
      <form [formGroup]="pacienteForm">
        <div formGroupName="antecedentesMedicos">
          <div class="form-check mb-3">
            <input id="contraindicacionVacunacion" type="checkbox" class="form-check-input"
              formControlName="contraindicacionVacunacion" />
            <label for="contraindicacionVacunacion" class="form-check-label">Contraindicacion Vacunación</label>
          </div>
          <div class="mb-3">
            <label for="detalleContraindicacion" class="form-label">Detalle Contraindicacion</label>
            <input id="detalleContraindicacion" class="form-control" formControlName="detalleContraindicacion"
              required />
          </div>
          <div class="form-check mb-3">
            <input id="reaccionBiologicos" type="checkbox" class="form-check-input"
              formControlName="reaccionBiologicos" />
            <label for="reaccionBiologicos" class="form-check-label">Reacción Biológicos</label>
          </div>
          <div class="mb-3">
            <label for="detalleReaccion" class="form-label">Detalle Reacción</label>
            <input id="detalleReaccion" class="form-control" formControlName="detalleReaccion" required />
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Navegación entre secciones -->
  <div class="row g-3">
    <!-- Botón "Anterior" -->
    <div class="col-md-8" *ngIf="step == 1"></div>
    <div class="col-md-1" *ngIf="step > 1"></div>
    <button *ngIf="step > 1" class="btn btn-custompass col-md-2" (click)="previousStep()">
      Anterior
    </button>

    <div class="col-md-6" *ngIf="step > 1"></div>
    <!-- Botón "Siguiente" -->
    <button *ngIf="step < 6" class="btn btn-custompass col-md-2" (click)="nextStep()">
      Siguiente
    </button>
  </div>

  <!-- Botones "Guardar" y "Cancelar" -->
  <div class="text-center mt-4 mb-3">
    <button type="button" class="btn btn-custom" style="margin-right: 5px;" (click)="guardar()">
      {{ modo === 'crear' ? 'Añadir' : 'Guardar' }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  </div>
</div>