<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/admin/home">
      <img src="assets/Logo.png" alt="Vacunacion logo" width="70">
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu('mainMenu')" aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isActiveMenu('mainMenu')}" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/home" routerLinkActive="active">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/gestionUsuario" routerLinkActive="active">Gestionar Usuarios</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="toggleSubMenu('inventario')" role="button">
            Gestionar Inventario
          </a>
          <ul class="dropdown-menu" [ngClass]="{'show': isActiveSubMenu('inventario')}">
            <li><a class="dropdown-item" routerLink="/admin/gestionInventarioVacuna">Vacunas</a></li>
            <li><a class="dropdown-item" routerLink="/admin/gestionInventarioJeringa">Jeringas</a></li>
            <li><a class="dropdown-item" routerLink="/admin/gestionInventarioDiluyente">Diluyentes</a></li>
            <li><a class="dropdown-item" routerLink="/admin/gestionInventarioSuero">Sueros</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/registro-vacuna" routerLinkActive="active">Registro Vacunas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/reportes" routerLinkActive="active">Reportes</a>
        </li>
      </ul>

      <button class="btn btn-outline-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
