<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/admin">
        <img src="assets/Logo.png" alt="Vacunacion logo" width="70">
      </a>
  
      <button class="navbar-toggler" type="button" (click)="toggleMenu('mainMenu')" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" style="margin-left: 90px;" [ngClass]="{'show': isActiveMenu('mainMenu')}" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/home" routerLinkActive="active">Inicio</a>
          </li>

          <li class="nav-item" style="margin-left: 20px">
            <a class="nav-link" routerLink="/admin/registroVacuna" routerLinkActive="active">Resgistro de Vacunas</a>
          </li>
  
          <li class="nav-item" style="margin-left: 20px">
            <a class="nav-link" routerLink="/admin/gestionUsuario" routerLinkActive="active">Gestionar Usuarios</a>
          </li>

          <li class="nav-item dropdown" style="margin-left: 20px">
            <a class="nav-link dropdown-toggle" (click)="toggleSubMenu('inventario')" role="button" aria-expanded="false">
              Gestionar Inventario
            </a>
            <ul class="dropdown-menu" [ngClass]="{'show': isActiveSubMenu('inventario')}">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/gestionInventarioVacuna" routerLinkActive="active">Gestionar Inventario Vacuna</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/gestionInventarioJeringa" routerLinkActive="active">Gestionar Inventario Jeringa</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/gestionInventarioDiluyente" routerLinkActive="active">Gestionar Inventario Diluyente</a>
              </li>
            </ul>
          </li>
  
          <li class="nav-item dropdown" style="margin-left: 20px">
            <a class="nav-link dropdown-toggle" (click)="toggleSubMenu('masOpciones')" role="button" aria-expanded="false">
              Reportes
            </a>
            <ul class="dropdown-menu" [ngClass]="{'show': isActiveSubMenu('masOpciones')}">
              <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Reportes Mensuales</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Reportes Anuales</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" style="margin-left: 20px"><a class="nav-link" routerLink="#" routerLinkActive="active">Alertas</a></li>

          <li class="nav-item dropdown" style="margin-left: 20px">
            <a class="nav-link dropdown-toggle" (click)="toggleSubMenu('usuario')" role="button" aria-expanded="false">
              [Nombre de Usuario]
            </a>
            <ul class="dropdown-menu" [ngClass]="{'show': isActiveSubMenu('usuario')}">
              <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Perfil</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active">Cerrar sesión</a>
              </li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>