<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/admin', userId, 'home']">
      <img src="assets/Logo.png" alt="Vacunacion logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu('mainMenu')" aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isActiveMenu('mainMenu')}" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin', userId, 'home']" routerLinkActive="active">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin', userId, 'home']" routerLinkActive="active">Reportes</a>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" (click)="toggleSubMenu('inventario')"
            role="button" [attr.aria-expanded]="isActiveSubMenu('inventario')"
            [attr.aria-controls]="'submenu-inventario'">
            Gestionar Inventario
            <i class="fas fa-chevron-down ms-1" [class.rotate]="isActiveSubMenu('inventario')"></i>
            <!-- Si usas FA6: <i class="fa-solid fa-chevron-down ms-1" ...></i> -->
          </a>

          <ul id="submenu-inventario" class="dropdown-menu" [ngClass]="{'show': isActiveSubMenu('inventario')}">
            <li><a class="dropdown-item" [routerLink]="['/admin', userId, 'gestionInventarioVacuna']">Vacunas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin', userId, 'gestionInventarioJeringa']">Jeringas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin', userId, 'gestionInventarioDiluyente']">Diluyentes</a>
            </li>
          </ul>
        </li>



      </ul>

      <button class="btn-logout" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
    </div>
  </div>
</nav>